RewriteEngine On         
RewriteRule  film/([a-zA-Z0-9\-\/_\.]+)css/([a-zA-Z0-9\-\/_\.]+)             css/$2
RewriteRule  film/css/([a-zA-Z0-9\-\/_\.]+)                                  css/$1
RewriteRule  film/([a-zA-Z0-9\-\/_\.]+)js/([a-zA-Z0-9\-\/_\.]+)              js/$2
RewriteRule  film/js/([a-zA-Z0-9\-\/_\.]+)                                   js/$1
RewriteRule  film/([a-zA-Z0-9\-_\/]+)/([0-9]+)/([0-9]+)$                     index.php?id=$2&postId=$3
RewriteRule  film/([a-zA-Z0-9\-_\/]+)/delete-([0-9]+)$                       index.php?delete=$2
RewriteRule  film/([0-9]+)/report                                            index.php?report=true&id=$1
RewriteRule  film/([0-9]+)/page-([0-9]+)                                     index.php?id=$1&idComment=$2
RewriteRule  film/category/([a-zA-Z0-9\-_]+)$                                index.php?category=$1
RewriteRule  film/([0-9]+)/([a-zA-Z0-9\-_]+)$                                index.php?id=$1
RewriteRule  film/([0-9]+)$                                                  index.php?id=$1
RewriteRule  film/formulaire-connexion/erreur								 index.php?exist=true
RewriteRule  film/([a-zA-Z0-9\-_\/]+)([0-9]+)$                               index.php?id=$2
RewriteRule  film/([a-zA-Z0-9\-_\/]+)$                                       index.php
RewriteRule  film$                                                           index.php [L]
