body{
	background-color: black;
}
p, a, h2, h3, label, ul, li{
	color: white;
}

a:hover, .lienCategory:hover{
	text-decoration: none;
	color: red;
}
#category, .cache{
	display: none;
}
.center{
	text-align: center;
}
.comInfo{
	font-size: 1.2em;
	font-weight: bold;
}
.imagePost{
	height: 350px;
	width: auto;
}

.imageHome{
	height: 500px;
	width: auto;
}

#map{
	height: 500px;
	margin: 2px;
	border: 2px solid red;
	border-radius: 5px;
}

#right, #left{
	font-size: 1.8em;
	font-weight: bold;
	width: 60px;
	border: 1px solid gray;
	border-radius: 50px;
	background-color: gray;
	color: black;
	position: relative;
	top: 230px;
}

.fiche{
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid red;
}


header{
	margin-bottom: 25px;
}
footer{
	border-top: 2px solid red;
	padding-top: 10px;
	margin-top: 35px;
}
header{
	margin-top: 15px;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation a, .navigation span {
  display: block;
  text-decoration: none;
}
.navigation .subMenu {
  margin: 0;
  padding: 0;
}
.navigation ul.subMenu a {
  background: none;
}

.read{
	opacity: 0;
}

#aideCourriel{
	color: red;
	font-size: 1.2em;
}
#note{
	opacity: 0;
}

.commentaire{
	border-bottom: 1px solid gray;
}

.titre{
	text-decoration: underline;
}

.lienMenu{
	font-size: medium;
}
.pagination{
	margin-top: 10px;
}
.author{
	font-size: 1.2em;
}

@media all and (max-device-width: 480px)
{
	p, label, input{
		font-size: 2.2em;
	}
	h2, h3{
		font-size: 3em;
	}
	.author, .comInfo{
		font-size: 2.5em;
	}
	.lienMenu{
		font-size: 2.5em;
	}
	.form-control, input{
		height: 50px;
		font-size: 2em;
	}
	.imagePost{
		height: 500px;
	}

	.imageHome{
		height: 900px;
	}

	#right, #left{
		font-size: 2.2em;
		position: relative;
		top: 400px;
	}

}