body{
	background-color: black;
}
p, a, h2, h3, label, ul, li{
	color: white;
}

a:hover, .lienCategory:hover{
	text-decoration: none;
	color: red;
}
#category, .cache{
	display: none;
}
.center{
	text-align: center;
}
.comInfo{
	font-size: 1.2em;
	font-weight: bold;
}
.imagePost{
	height: 350px;
	width: auto;
}

.imageHome{
	height: 500px;
	width: auto;
}

#map{
	height: 500px;
	margin: 2px;
	border: 2px solid red;
	border-radius: 5px;
}

#right, #left{
	font-size: 1.8em;
	font-weight: bold;
}
#right{
	position: absolute;
	top: 350px;
	right: 20%;
}
#left{
	position: absolute;
	top: 350px;
	left: 20%;
}
.fiche{
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid red;
}


header{
	margin-bottom: 25px;
}
footer{
	border-top: 2px solid red;
	padding-top: 10px;
	margin-top: 35px;
}
header{
	margin-top: 15px;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation a, .navigation span {
  display: block;
  padding: 4px 10px;
  text-decoration: none;
}
.navigation .subMenu {
  margin: 0;
  padding: 0;
}
.navigation ul.subMenu a {
  background: none;
  padding: 3px 20px;
}

.read{
	opacity: 0;
}

#aideCourriel{
	color: red;
	font-size: 1.2em;
}